[tool.mypy]
ignore_missing_imports = true
disallow_untyped_defs = true
disallow_any_unimported = false
no_implicit_optional = true
warn_return_any = false
warn_unused_ignores = true
show_error_codes = true
